@{
    ViewData["Title"] = "Home Page";
}
@model User 
<div class="text-center" style="border:solid; width:900px  ">
    <div class="container m-4">
        <form action="process" method="post">

            <div class="form-group row m-3">
                <label for="Name" class="col-sm-2 col-form-label">Name :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control-plaintext" asp-for="Name" placeholder="name">
                    <span asp-validation-for="Name"></span>
                </div>
            </div>

            <div class="form-group row m-3">
                <label for="Dojo Location" class="col-sm-2 col-form-label">Dojo Location :</label>
                <div class="col-sm-10">
                    <select class="form-control" asp-for="Location">
                        <option>Tunis</option>
                        <option>San Jose</option>
                        <option>Roma</option>
                    </select>
                </div>
            </div>

            <div class="form-group row m-3">
                <label for="Dojo Location" class="col-sm-2 col-form-label">Dojo Location :</label>
                <div class="col-sm-10">
                    <select class="form-control" asp-for="Language">
                        <option>C#</option>
                        <option>Java</option>
                        <option>JavaScript</option>
                    </select>
                </div>
            </div>

            <div class="form-group row m-3">
                <label for="Comment" class="col-sm-2 col-form-label">Comment (optional) :</label>
                <div class="col-sm-10">
                <textarea class="form-control" asp-for="Comment" rows="3"></textarea>
                <span asp-validation-for="Comment"></span>
                </div>
            </div>

            <button type="submit" class="btn-primary">Submit</button>
        </form>
    </div>

</div>
