<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="text-center" style="border:solid; width:900px  ">
        <div class="container m-4">
            <h1 style="text-decoration: underline;">Submitted Info</h1>
            <h3>Name : @ViewBag.User.Name</h3>
            <h3>Location : @ViewBag.User.Location</h3>
            <h3>Language : @ViewBag.User.Language</h3>
            <h3>Comment : @ViewBag.User.Comment</h3>
        </div>
        <a class="btn btn-primary" href="/" role="button">Go Back</a>
    </div>
</body>

</html>